html,
body {
	height: 100%;
	margin: 0;
}
.notes {
	display: flex;
	height: 100%;
}
.notes__sidebar {
	border-right: 2px solid #dddddd;
	flex-shrink: 0;
	overflow-y: auto;
	padding: 1em;
	width: 300px;
}

.add-note {
	background: #009578;
	border: none;
	border-radius: 7px;
	color: #ffffff;
	cursor: pointer;
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 0.75em 0;
	width: 100%;
}
.add-note:hover {
	background: #00af8c;
}

.notes-list-item--selected {
	background: #eeeeee;
	border-radius: 7px;
}

.notes-list-item {
	list-style: none;
	padding: 0;
	margin: 0;
}

.note-item {
	cursor: pointer;
	margin: 5px;
	padding: 15px;
	font-size: 15px;
	color: #000;
}

.note-item.active {
	background-color: #cfcbcb;
}

.note-operations {
	position: absolute;
	right: 10%;
	top: 6%;
	display: flex;
	justify-content: space-between;
	width: 60px;
	font-size: 20px;
}
.note-operations a {
	color: #7b7777;
}

@media (max-width: 600px) {
	.notes__sidebar {
		width: 200px;
	}
	.notes__preview {
		padding: 1em 2em;
	}
}
